:root {

  --bg-main: #0a0a0c;
  --bg-section-alt: #121216;
  --bg-card: #18181f;

  --text-main: #ffffff;
  --text-muted: #b3b3b3;
  --color-accent: #ffcc00;
  --color-btn-red: #e62e5a;

  --border-subtle: rgba(255, 255, 255, 0.1);


  --section-padding: 80px 10%;
  --section-padding-mobile: 40px 20px;

  --transition-speed: 0.3s;
  --transition-func: ease-in-out;
}


